<%= form_with(model: post) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="mb-6">
    <%= form.label :title, class: "label" %>
          <%= form.text_field :title, class: "input" %>
      </div>

  <div class="mb-6">
    <%= form.label :body, class: "label" %>
          <%= form.text_area :body, class: "input" %>
      </div>

  <div class="mb-6">
    <%= form.check_box :published, class: "checkbox" %>
    <%= form.label :published, class: "inline-label" %>
    <%= form.label :publish_date, "On", class: "inline-label" %>
    <%= form.date_field :publish_date, class: "inline" %>
  </div>

  <div class="mb-6">
    <%= form.label :user_id, class: "label" %>
      <%= collection_select(:post,:user_id,
                User.all, :id,
                User.column_names[1], {prompt: true}, {class: "select-list"}) %>
      </div>

  <div class="mb-6 flex justify-between items-center">
    <%= form.button class: "btn btn-default" %>

    <% if form.object.persisted? %>
      <%= link_to 'Delete', form.object, class: "btn btn-default", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
